<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/websocket
       https://www.springframework.org/schema/websocket/spring-websocket.xsd">


<!--    <mvc:annotation-driven/>-->
<!--    <context:component-scan base-package="com.*"/>-->
    <!-- 处理请求返回json字符串的中文乱码问题 -->
    <!--<mvc:annotation-driven>-->
    <!--    <mvc:message-converters register-defaults="true">-->
    <!--        <bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
    <!--            <constructor-arg value="UTF-8"/>-->
    <!--        </bean>-->
    <!--    </mvc:message-converters>-->
    <!-- </mvc:annotation-driven>-->

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
    <!--    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
    <!--    <property name="prefix" value="/WEB-INF/page/"/>-->
    <!--    <property name="suffix" value=".jsp"/>-->
    <!--</bean>-->
    <!--    <bean id="myInterceptor" class="coderead.mvc.interceptor.MyInterceptor"></bean>-->
    <!--    第一种拦截配置-->
    <!--<bean  class="org.springframework.web.servlet.handler.MappedInterceptor">
        <constructor-arg index="0" type="java.lang.String[]">
            <list>
                <value>/hello</value>
                <value>/h?</value>
            </list>
        </constructor-arg>
        <constructor-arg index="1" type="org.springframework.web.servlet.HandlerInterceptor"
                         ref="myInterceptor"/>
    </bean>-->
    <!--第二种拦截配置-->
    <!--<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/hi"/>
            <ref bean="myInterceptor"></ref>
        </mvc:interceptor>
    </mvc:interceptors>
   -->

    <!--    第三种拦截配置-->
    <!--<bean id="simpleHandler" class="coderead.mvc.handler.SimpleHandler"></bean>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/hello">simpleHandler</prop>
            </props>
        </property>
        <property name="interceptors">
            <ref bean="myInterceptor"></ref>
        </property>
    </bean>-->

    <!--<mvc:resources mapping="/images/**" location="/WEB-INF/images/" />-->
    <!--<mvc:resources mapping="/html/**" location="/WEB-INF/html/" />-->

    <!--&lt;!&ndash;异常处理&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">-->
    <!--    <property name="defaultErrorView" value="error"/>-->
    <!--    <property name="exceptionMappings">-->
    <!--        <props>-->
    <!--            <prop key="java.io.IOException">IoError</prop>-->
    <!--            <prop key="java.lang.IllegalArgumentException">IllegalError</prop>-->
    <!--        </props>-->
    <!--    </property>-->
    <!--</bean>-->

    <!-- 上传组件   -->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">-->
    <!--    <property name="maxUploadSize" value="104857600"/>-->
    <!--    <property name="maxInMemorySize" value="4096"/>-->
    <!--    <property name="defaultEncoding" value="UTF-8"/>-->
    <!--</bean>-->

    <!--websocket配置示例-->
    <!--<websocket:handlers>-->
    <!--    <websocket:mapping path="/ws" handler="wsHandler"/>-->
    <!--    <websocket:mapping path="/chat" handler="chatHandler"/>-->
    <!--</websocket:handlers>-->
    <!--<bean id="wsHandler" class="com.mvc.webSocket.WsHandler"/>-->
    <!--<bean id="chatHandler" class="com.mvc.webSocket.ChatHandler"/>-->
</beans>